include LICENSE.txt README.txt  
recursive-include weblogolib/htdocs/ *.html *.cgi *.*
include weblogolib/template.eps
recursive-include tests/data/ *.*
include test_weblogo.py
include build_test.sh
include cap.fa
recursive-include apidocs/ *.html